<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head'); %>
</head>
<body>
    <div class="containerPerfil">
        <div class="card" style="width: 18rem;">
            <div class="card-body" id="cardPerfil">
                <h5 class="card-title">Editar meta</h5>
                
                <form action="/editaMeta/<%=dadosId%>" method="POST">
                    <div class="form-group p-2">
                        <label for="name">Meta:</label>
                        <input type="text" class="form-control p-2" id="nome" name="nome" value="<%= nomeMeta %>">
                    </div>

                    <div class="form-group p-2">
                        <button type="submit" class="btn" id="btn">Salvar alterações</button>
                    </div>
                </form>
                <form action="/metas" method="GET">
                    <button type="submit" class="btn btn-secondary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
