*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conteudo{
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
.logo-imagem {
  width: 55px;
  height: 55px;
}

.logo-texto {
  margin-left: 20px;
}

.container-logo {
  display: flex;
  align-items: center;
}

.menu li{
  display: inline-block;
  margin: 0 10px;
}


.cadastro-botao:hover {
  color: hwb(0 100% 0%);
}

body {
  background-color: hsl(0, 0%, 96%);
}

.cadastro-botao2 {
  background-color: #146fe7;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.cadastro-botao2:hover {
  color: white;
}

#container1 {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 9%;
}

#p-text {
  font-size: 17px;
  font-family: Baskerville;
  margin-top: 2%;
  margin-bottom: 5%;
}

.imagem-tela {
  width: 420px;
  height: 242.6px;
  margin-left: 6%;
}

.container-itens {
  justify-content: space-around;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
}

.divs {
  margin-top: 7px;
}

.square {
  margin-left: 1%;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #146fe7;
}

.descricao {
  font-size: 16px;
  font-family: Baskerville;
}

#title2 {
  font-size: 35px;
  margin-top: 5%;
  text-align: center;
}

#container2 {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 7%;
}

#container-text2 {
  margin-left: 7%;
}

#text {
  font-size: 30px;
  margin-bottom: 3%;
}

#bottom-text {
  font-size: 30px;
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
}

.bottom-button {
  background-color: #146fe7;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px 40px;
  margin-left: 45%;
}

.bottom-button:hover {
  color: white;
}
